<div id="modal-login" class="modal-content login">

<a class="close cancel-action" title="close" href="#">
  <span class="line-one"></span>
  <span class="line-two"></span>
</a>

<h5>Login</h5>
  <form class="login-form" action="/login" method="post">
    <div>
        <label>Username:</label>
        <input id="username" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input id="password" type="password" name="password"/>
    </div>
      <p></p>
        <button type="submit" class="btn btn-primary btn-lg">Login</button> &nbsp; <a href="#" class="cancel-action">Cancel</a>
</form>
</div>
