<div id="modal-signup" class="modal-content signup">

    <a class="close cancel-action" title="close" href="#">
    <span class="line-one"></span>
    <span class="line-two"></span>
    </a>

      <h5>Sign up</h5>
        <p class="card-text">Don't have an account?</p>
          <form action="/signup" class="signup-form" method="post">
            <div>
                <label>Full Name:</label>
                <input type="text" id="name-signup" name="name"/>
            </div>
            <div>
                <label>Username:</label>
                <input type="text" id="username-signup" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password-signup" name="password"/>
            </div>
            <p></p>
                <button type="submit" class="btn btn-primary btn-lg">Signup</button> &nbsp; <a href="#" class="login-action">Login</a>
        </form>
    </div>