  <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="width: 100%; max-height: 500px;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="width: 100%; max-height: 500px;">
        <img src="https://everydaypowerblog.com/wp-content/uploads/2017/03/76-Inspirational-picture-quotes-and-motivational-images.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="width: 100%; max-height: 500px;">
        <img src="https://4.img-dpreview.com/files/p/TS600x450~sample_galleries/0724895971/0009166108.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="width: 100%; max-height: 500px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4CzJttbVX_SWF7WfzTwxfGKzTim0TR_t9ESkUbCIMtIZRBB3t" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
