<a href="#" class="backButton button btn-secondary"><i class="fa fa-back"></i> Back</a>
<form  method="PUT" action="/api/customization/body" class="customizationForm"></form>
<h4>Column 1</h4>
<textarea name="" id="" class="form-control mb-3"  cols="18" rows="10" placeholder="body"></textarea>

<h4>Column 2</h4>
<textarea name="" id="" class="form-control mb-3"  cols="18" rows="10" placeholder="body" ></textarea>

<h4>Column 3</h4>
<textarea name="" id="" class="form-control mb-3" cols="18" rows="10" placeholder="body"></textarea>

<h4>Column 4</h4>
<textarea name="" id="" class="form-control mb-3" cols="18" rows="10" placeholder="body"></textarea>
<br>
<button class="button btn-primary">Submit</button>
</form>