<a href="#" class="backButton button btn-primary"><i class="fa fa-back"></i> Back</a>
<form  method="PUT" action="/api/customization/body" class="customizationForm"></form>
<h4>Column 1</h4>
<input name="headerOne" value="" placeholder="header">
<br><br>
<textarea name="" id="" cols="18" rows="10" placeholder="body"></textarea>

<h4>Column 2</h4>
<input name="headerTwo" value="" placeholder="header">
<br><br>
<textarea name="" id="" cols="18" rows="10" placeholder="body" ></textarea>

<h4>Column 3</h4>
<input name="headerThree" value="" placeholder="header">
<br><br>
<textarea name="" id="" cols="18" rows="10" placeholder="body"></textarea>

<h4>Column 4</h4>
<input name="headerFour" value="" placeholder="header">
<br><br>
<textarea name="" id="" cols="18" rows="10" placeholder="body"></textarea>
<br>
<button>Submit</button>
</form>