<a href="#" class="backButton button btn-secondary"><i class="fas fa-arrow-left"></i> &nbsp;Back</a>

<h5>Image 1</h5>

<form method="PUT" action="/api/customization/carousel" class="customizationForm">

<input name="image-one" class="form-control mb-3"  value="" />

<h5>Image 2</h5>
<input name="image-two" class="form-control mb-3"  value="" />

<h5>Image 3</h5>
<input name="image-three" class="form-control mb-3"  value="" />

<h5>Image 4</h5>
<input name="image-four" class="form-control mb-3"  value="" />

<button class="button btn-primary">Submit</button>
</form>
