<a href="#" class="backButton button btn-primary"><i class="fa fa-back"></i> Back</a>

<h5>Image 1</h5>

<form method="PUT" action="/api/customization/carousel" class="customizationForm">

<input name="image-one" value="" />

<h5>Image 2</h5>
<input name="image-two" value="" />

<h5>Image 3</h5>
<input name="image-three" value="" />

<h5>Image 4</h5>
<input name="image-four" value="" />

<button>Submit</button>
</form>
