<a href="#" class="backButton button btn-primary"><i class="fa fa-back"></i> Back</a>

<label>Social Media</label>
    <select class="socialMediaOption form-control form-control" data-option="socialMedia">
        <option value="instagram">Instagram</option>
        <option value="snapchat">Snap Chat</option>
        <option value="twitter">Twitter</option>
        <option value="facebook">Facebook</option>
    </select>

