<a href="#" class="backButton button btn-primary"><i class="fa fa-back"></i> Back</a>
<H5>Instagram</H5>
<form method="PUT" action="/api/customization/footer" class="customizationForm">
<input name="instagram" value="">

<H5>Snapchat</H5>
<input name="snapchat" value="">

<H5>Twitter</H5>
<input name="twitter" value="">

<H5>Facebook</H5>
<input name="facebook" value="">

<H5>LinkedIn</H5>
<input name="linkedIn" value="">

<button>Submit</button>
</form>
