<a href="#" class="backButton button btn-secondary"><i class="fas fa-arrow-left"></i> &nbsp;Back</a>
<H5>Instagram</H5>
<form  method="PUT" action="/api/customization/footer" class="customizationForm">
<input name="instagram" class="form-control mb-3" value="">

<H5>Snapchat</H5>
<input name="snapchat" class="form-control mb-3" value="" >

<H5>Twitter</H5>
<input name="twitter" class="form-control mb-3" value="" >

<H5>Facebook</H5>
<input name="facebook" class="form-control mb-3" value="" >

<H5>LinkedIn</H5>
<input name="linkedIn" class="form-control mb-3"  value="">
<br>
<button class="button btn-primary">Submit</button>
</form>
