<a href="#" class="backButton button btn-secondary"><i class="fa fa-back"></i> Back</a>
<H5>Title</H5>

<form method="PUT" action="/api/customization/nav" class="customizationForm">

<input name="title" value="" class="form-control mb-3" >

<h5>Logo</h5>
<p>Uploder Goes Here</p>

<button class="button btn-primary">Submit</button>

</form>
