<a href="#" class="backButton button btn-secondary"><i class="fas fa-arrow-left"></i> &nbsp;Back</a>
<H5>Title</H5>

<form method="PUT" action="/api/customization/nav" class="customizationForm">

<input name="title" value="" class="form-control mb-3" >
<input name="logoFile" value="" type="hidden" class="fileInput">

<h5>Logo</h5>
<input name="logo" type="file" value="" class="file" />

<button class="button btn-primary">Submit</button>

</form>
