{{!--

    This page is for the user customization

--}}
<div id="nav" 
    class="editable"
    data-option="nav">
{{> nav/option-three}}
</div>


{{!--{{> nav/option-two}}
{{> nav/option-three}}
{{> nav/option-four}}
--}}
<div id="carousel" 
    class="editable"
    data-option="carousel">
{{> carousel/option-one}}
</div>

<div id="body">
{{> body/three-columns}}
</div>

<div id="footer" 
    class="editable"
    data-option="footer">
{{> footer/option-one}}
</div>
