<body id="home">
<div>
  <div class="jumbotron-fluid">
  <div class="container">
    
     <h1 class="display-4">Layzee Web</h1>

      <h1 class="display-6">The Easiest Way to Create Your Custom Professional Site</h1>
      
      <hr class="my-4">
      <form class="login-form" action="/login" method="post">
        <div>
          <label>Username:</label>
          <input class="username" type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input class="password" type="password" name="password" />
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </form>
      <hr class="my-4">
      <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Sign-up</h5>
        <p class="card-text">Don't have an account?</p>
          <form action="/signup" method="post">
            <div>
                <label>Full Name:</label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <p></p>
                <button type="submit" class="btn btn-primary btn-lg">Signup</button>
        </form>
      </div>
  </div>
  </div>
</div>
</div>
</body>