  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          <a href="/">
            <img class="logo" src="/assets/images/logo.svg" alt="Lazee Web" />
          </a>
        </h1>
        <br>
        <h2 class="text-white subheader">Create a professional one-page website in a few clicks.</h2>
    
    
        
        <ul class="get-started">
          <li><span class="cta-signup">Get Started</span></li>
          <li>
            <a href="#" class="signup-action button">Sign up</a>
            Or <a href="#" class="login-action">Login</a> to your account.
          </li>        
        </ul>
        
    
      </div>
    </div>

    <div class="row promos">

      <div class="col-md-4">

       
        <span>
          <i class="fas fa-user-ninja"></i>
        </span>
        <h4>Make a site like a ninja</h4>
          
      </div>
      <div class="col-md-4">

       
        <span>
          <i class="fas fa-user-clock"></i>
        </span>
        <h4>Save precious time</h4>
          
      </div>
      <div class="col-md-4">

       
        <span>
          <i class="fas fa-window-restore"></i>
        </span>
         <h4>Customize galore</h4>
          
      </div>

    </div>
  </div>


<div class="overlay">

{{> login }}

{{> signup }}

</div>