<body id="home">

<div class="container">

<div class="jumbotron">
  <h1 class="display-4">The Sky is the Limit. What's yours?</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
        <a class="btn btn-large btn-primary" href="/login">Login</a>
  <hr class="my-4">
        <a class="btn btn-large btn-primary" href="/signup">Sign Up!</a>
          
      </div>
  </div>

    
</body>