{{!--

    This page is for the user customization

--}}
<div id="nav">
{{> nav/option-three}}
</div>


{{!--{{> nav/option-two}}
{{> nav/option-three}}
{{> nav/option-four}}
--}}
<div id="carousel">
{{> carousel/option-one}}
</div>

<div id="body">
{{> body/three-columns}}
</div>

<div id="footer">
{{> footer/option-one}}
</div>
