<body id="home">

<div class="container">

<div class="jumbotron">
  <h1 class="display-4">The Sky is the Limit. What's yours?</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <form class="login-form" action="/login" method="post">
    <div>
        <label>Username:</label>
        <input class="username" type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input class="password" type="password" name="password"/>
    </div>
      <p></p>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
</form>
</div>

</div> 
    
</body>