<body id="home">

<div class="container">

<div class="jumbotron">
  <h1 class="display-4">The Sky is the Limit. What's yours?</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Sign-up</h5>
        <p class="card-text">Don't have an account?</p>
          <form action="/signup" method="post">
            <div>
                <label>Full Name:</label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <p></p>
                <button type="submit" class="btn btn-primary btn-lg">Signup</button>
        </form>
      </div>
  </div>
</div>

</div> 
    
</body>