 <!-- one column  -->
    <div id="page-{{lowercase title}}" data-cols="1" class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>One Column</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
        </div>
    </div>