 <!-- two column -->
    <div id="page-{{lowercase title}}" data-cols="2" class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Column 1</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
            <div class="col-md-6">
                <h5>Column 2</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
        </div>
    </div>