 <!-- two column -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Heading</h1>
                <p>lorem ipsum....2 lines</p>
            </div>
            <div class="col-md-6">
                <h1>Heading</h1>
                <p>lorem ipsum....2 lines</p>
            </div>
        </div>
    </div>