html, body { overflow-x: hidden; height: 100%; }
#main-content { width: 80%; float: left; overflow-x: hidden; }
#sidebar { width: 20%; float: left; }
label { display: block; width: 100%; }

.sortable { 
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: inherit !important;
    width: 100%;
    display: inline-block;
}
.sortable li {
    border: none;
    float: left;
    width: 100%;
    background: none;
    margin: 0 0 10px 0;
    padding: 0 30px 10px 0;
    border-bottom: 1px dotted #999;
    position: inherit !important;
}
.sortable  .sortable-placeholder {
    float: left; 
    width: 90%;
    height: 100px;
    border: 1px dotted #FFF;
    border-radius: 5px;
    background: #FEFEFE;
    -moz-box-shadow:    inset 0 0 4px #777;
    -webkit-box-shadow: inset 0 0 4px #777;
    box-shadow:         inset 0 0 4px #777;
}
.btn-remove { 
    color: red !important;
    position: absolute; 
    right: 0px;
    top: 17px;
}
.btn-remove.disabled,.btn-remove.disabled:hover {
    color: gray !important;
}
.btn-remove:hover { 
    color: #DD0000 !important; 
    position: absolute; 
    right: 0px;
    top: 17px;
}

.btn-sort {
    position: absolute; 
    right: 3px;
    top: 45px;
}

