	    <div id="sitewrapper">
                <div id="nav" 
                    class="editable"
                    data-option="nav">

                    {{#if data.nav.option}}
                        {{> (partial 'nav' data.nav.option) navOptions=data.body }}
                    {{else}}
                        {{> nav/option-one }}
                    {{/if}}
            
                </div>

                <div id="carousel" 
                    class="editable"
                    data-option="carousel">

                    {{#if data.carousel.option}}
                        {{> (partial 'carousel' data.carousel.option) }}
                    {{else}}
                        {{> carousel/option-one }}
                    {{/if}}

                </div>

                <div id="body">
                    {{#each data.body}}
						 {{> (partial 'body' option) className=title index=@index }}
					{{/each}}
                </div>

                <div id="footer" 
                    class="editable"
                    data-option="footer">

                    {{#if data.footer.option}}
                        {{> (partial 'footer' data.footer.option) footerOptions=data.footer.customization navOptions=data.body}}
                    {{else}}
                        {{> footer/option-one }}
                    {{/if}}

                </div>

			</div>